.products {
  margin-top: 50px;
}
.product img {
  width: 100%;
  aspect-ratio: 5/4;
}
.product {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.286);
  height: 100%;
}

.product h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
